name: Lint

on:
  push:
    branches:
      - "**"

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo fmt
        run: |
          cargo fmt --all -- --check
          cargo fmt --manifest-path benchmark/Cargo.toml --all -- --check
          cargo fmt --manifest-path examples/Cargo.toml --all -- --check

      - name: Cargo clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings
          cargo clippy --manifest-path benchmark/Cargo.toml --all-targets --all-features -- -D warnings
          cargo clippy --manifest-path examples/Cargo.toml --all-targets --all-features -- -D warnings

      - name: Cargo check
        run: |
          cargo check
          cargo check --manifest-path benchmark/Cargo.toml
          cargo check --manifest-path examples/Cargo.toml
